Source: ndctl
Maintainer: Breno Leitao <leitao@debian.org>
Section: admin
Priority: optional
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 11),
               pkg-config,
               libkmod-dev,
               libudev-dev,
               libuuid1,
               uuid-dev,
               libjson-c-dev,
               bash-completion,
               systemd,
               asciidoctor
Homepage: https://github.com/pmem/ndctl
Vcs-Browser: https://github.com/leitao/ndctl_deb

Package: ndctl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: libraries for tool for 'libnvdimm'
 ndctl is a utility for managing the "libnvdimm" kernel subsystem.
 .
 This includes provisioning capacity (namespaces) and enumerating,
 enabling and disabling the devices associated with an NVDIMM bus.

Package: libndctl6
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: ndctl library used by ndctl tool
 ndctl is a utility for managing the "libnvdimm" kernel subsystem.
 .
 This package provides the libndctl library.

Package: libndctl6-dev
Section: libdevel
Architecture: any
Depends: libndctl6 (= ${binary:Version}), ${misc:Depends}
Provides: libndctl-dev (= ${binary:Version})
Description: Development files for libndctl
 ndctl is a utility for managing the "libnvdimm" kernel subsystem.
 .
 This package contains the headers and development libraries needed to
 build applications using the libndctl library.

Package: libdaxctl1
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: daxctl library used by ndctl
 ndctl is a utility for managing the "libnvdimm" kernel subsystem.
 .
 This package provides the libdaxctl library.

Package: libdaxctl1-dev
Section: libdevel
Architecture: any
Depends: libdaxctl1 (= ${binary:Version}), ${misc:Depends}
Provides: libdaxctl-dev (= ${binary:Version})
Description: Development files for libdaxctl
 ndctl is a utility for managing the "libnvdimm" kernel subsystem.
 .
 This package contains the headers and development libraries needed to
 build applications using the libdaxctl library.
